<header>
    <div class="container">
        <a routerLink="/">VP Food Corner</a>
        <ul>
            <nav>
            <li>
                <a routerLink="">Login</a>
            </li>
            <li class="menu-container">
                <a routerLink="" >Vikas</a>
                <div class="menu">
                    <a routerLink="">Profile</a>
                    <a routerLink="">Order</a>
                    <a routerLink="">LogOut</a>
                </div>
            </li>
            <li>
                <a routerLink="">Cart<span>2</span></a>
            </li>
        </nav>
        </ul>
    </div>
</header>
