<div class="flex flex-wrap m-auto lg:col-11">
    <ng-container *ngFor="let data of food">
        <div class=" col-4 mb-2 relative FoodMainblock">
            <span class="food-block">
                <img width="100%" height="100%" [src]="data.imageUrl" alt="">
            </span>
            <h3 class="mb-0 mt-1">{{data.name}}
                <span class="fvt" [ngClass]="data.favourite ? 'favourite':'not-favourite'">❤️</span>
            </h3>
            <div class="rating">
                <p-rating [(ngModel)]="data.stars" [readonly]="true" [cancel]="false"></p-rating>
            </div>
            <div class="product-item-footer">
                <div class="origins">
                    {{data.origin}}
                </div>
                <div class="cooktime">
                    ⏳{{data.cookTime}}
                </div>
                <div class="price">{{data.price | currency :'USD'}}</div>
            </div>
        </div>
    </ng-container>
</div>