/* You can add global styles to this file, and also import other style files */
a{
    &:active{
        color: #b9b9b9;
    }
    text-decoration: none;
}
li{
    list-style: none;
}
header{
    position:relative;
}
nav{
    display: flex;
    a{
       
        span{
            color: white;
            border-radius: 50%;
            background-color: red;
            padding: 0px 6px;
            margin-left: 4px;
        }
    }
}
.container{
    a{
        padding: 10px;
    }
    border: 1px solid red;
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
.menu-container{
    position: relative;
 &:hover{
    .menu{
        position: absolute;
        display: block;
        margin-top: 10px;
        z-index: 9;
        a{
            display: block;
            width: 100%;
            background: red;
            color: white;
            border: 1px solid #b9b9b9;
            &:hover{
                border-radius: 8px;
                border: 1px solid #888282;
                transition: all 0.3s ease-in-out;
            }
        }
    }
 }
}
.menu{
    display: none;
}
.FoodMainblock{
 &:hover{
    .food-block{
        opacity: 0.9;
        img{
            // border-radius: 4px;
            scale: 1.05
        }
    }
 }
 .rating{
    .p-rating .p-rating-item.p-rating-item-active .p-rating-icon{
        color: orange;
        width: 12px;
    }
    .p-rating .p-rating-item .p-rating-icon.p-icon{
        width: 12px;
    }
    .p-rating{
        gap: 0.3rem;
    }
 }
}
.food-block{
    display: block;
   height: 15rem;
   img{
    border-radius: 10px;
   }
}
.fvt{
    position: absolute;
    top: 16px;

    font-size: 24px;
    right: 20px;
    &.favourite{
        color: red;
    }
    &.not-favourite{
        color: white;
    }
}
.price{
    font-weight: 700;
}
.cooktime{
    font-size: small;
}
.origins{font-size: medium;}
